$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

$secondary-black: #000000;
$secondary-blue: #0065AD;
$secondary-silver: #E1E1E1;
$secondary-white: #FAFAFA;