@font-face {
  font-family: avenir-regular;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: avenir-bold;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
