@font-face {
    font-family:averegular;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight:400;
}

@font-face {
    font-family:avebold;
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight:700;
}