@use '../../styles/partials/' as *;

.videos {
    display:flex;
    justify-content:left;
    margin:1rem;
    width:100%;
    cursor:pointer;

    &__container {
        width:25%;

        &--image {
            width:100%;
            border-radius:.25rem;
            height:100px;
        }
    }

    &__heading {
        margin:0 2rem 0 1rem;

        &--title {
            font-family:avenir-bold;
            @include mobile_pageheader;
            margin:0;
        }

        &--channel {
            font-family:avenir-bold;
            @include mobile_subheader
        }
    }
}