@use '../../styles/partials/' as *;

.section {
    margin:1.5rem 1rem 1rem 1rem;

    @include tablet {
        margin:2.25rem 1.5rem 1.5rem 1.5rem;
    }
    
    &__title {
        font-family:avenir-bold;
        font-weight:700;
        @include mobile_pageheader;
        line-height:3.5rem;
        font-weight:700;

        &--text {
            border-bottom:0.2rem solid $mercury;
            margin:0;
            padding:0 0 1.5rem 0;
        }
    }

    &__container {
        display:flex;
        justify-content:space-between;
        border-bottom:0.2rem solid $mercury;
        padding-right:3rem;

        &--a {
            
            &--bold {
                display:flex;
                justify-content:left;
                font-family:avenir-bold;
                @include mobile_sectionheader;
                font-weight:700;

                @include tablet {
                    @include desktop_sectionheader;
                }
            }

            &--color {
                font-family:avenir-regular;
                @include mobile_sectionheader;
                color:$silver;
            }
        }

        &--b {

            &--eyecolor {
                font-family:avenir-regular;
                @include mobile_sectionheader;
                color:$silver;
                background:url(../../assets/icons/views.svg) no-repeat 0 center;
                padding-left:2rem;
            }

            &--likes {
                font-family:avenir-regular;
                @include mobile_sectionheader;
                color:$silver;
                background:url(../../assets/icons/likes.svg) no-repeat 0 center;
                padding-left:1.5rem;
            }
        }
    }

    &__comment {
        @include mobile_bodycopy;
        font-family:avenir-regular;
        margin:1rem 0 0 0;
        font-weight:400;
    }
}