@use '../src/styles/partials/' as *;

.nextvideo {
    margin:2rem 1rem;
    text-transform:uppercase;
    @include mobile_subheader;
    font-family:avenir-bold;
    font-weight:700;
    color:$silver;

    @include tablet {
        @include desktop_subheader;
        margin:2rem 1.5rem;
    }
}
