@use "../src/styles/partials/index" as *;

body {
  margin: 0;
  padding: 0;
  font-family: avenir-regular, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
