@use '../../styles/partials/' as *;

.commentbox {
    margin:2rem 1rem 1rem 1rem;

    @include tablet {
        margin:2rem 1.5rem 1rem 1.5rem;
    }

    &__text {
        @include mobile_sectionheader;
        font-family:avenir-bold;
    }

    &__container {
        display:flex;
        justify-content:left;
        width:100%;
        border-bottom:2px solid $mercury;
        margin:0;
        padding:0 0 1rem 0;

        &--a {
            width:2.25rem;
            height:200px;

            &--image {
                height:2.25rem;
                width:2.25rem;
                border-radius:50%;
                background-image:url(../../assets/images/Mohan-muruge.jpg);
                background-position:contain;
                background-size:cover;
                background-color:$mercury;
                margin:1.75rem 0 0 0;
            }
        }

        &--b {
            padding-left:1rem;
            width:75vw;

            &--words {
                color:$silver;
                text-transform: uppercase;
                font-family:avenir-bold;
                @include mobile_subheader;
            }

            &--input {
                border-radius:0.25rem;
                border:solid 2px $mercury;
                width:100%;
                height:8rem;
                margin:.25rem 0 0 0;
                @include mobile_bodycopy;
                padding-left:.75rem;
                background-color:$alabaster;

                @include tablet {
                    padding-left:1rem;
                }

                &::placeholder {
                    color:$black;
                    // padding-left:1rem;
                    @include mobile_bodycopy;
                    position:relative;
                    bottom:3.125rem;
                } 
            }

            &--button {
                height:2.5rem;
                background:url(../../assets/icons/add_comment.svg) no-repeat 15px center;
                border-radius:0.25rem;
                background-color:$blue;
                color:$white;
                @include mobile_label-buttons;
                font-family:avenir-bold;
                border:none;
                width:105%;
                height:2.5rem;
                margin:1rem 0 0 0;
                text-transform:uppercase;
                cursor:pointer;

                &:hover {
                    background-color:$darkblue;
                }
            }
        }
    }
}